<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
</head>
<body>
<div>
  <h2>Shopping List</h2>
  <input type="text" placeholder="Add an item" [(ngModel)]="item" />

  <button (click)="addItem()">Add</button>

  <ul>
    <li *ngFor="let item of shoppingList; let i = index">
      {{ item }} <button (click)="removeItem(i)">Remove</button>
    </li>
  </ul>
</div>

</body>
</html>
