<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Converter</title>
</head>
<body>
  <h2>Currency Converter</h2>
  <input type="number" placeholder="Enter amount in dollars"  [(ngModel)]="dollar"/>
  <button (click)=" convertToPhp()" >Convert to Php</button><br><br>
  <div>PHP Conversion Rate: {{conversionRate}}</div>

  <div *ngIf="php !== null">
    <p>Converted Amount: ₱{{ php }}</p>
  </div>

</body>
</html>
