<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Calculator</title>
</head>
<body>
   <h2>Simple Calculator</h2>
   <label>Number 1:</label><br>
   <input type="number"  placeholder="Input Number1" [(ngModel)]="num1" ><br><br>
   <label>Number 2:</label><br>
   <input type="number"  placeholder="Input Number2" [(ngModel)]="num2" ><br><br>

   <button type="button" (click)="showAdd()">Add</button>
   <button type="button" (click)="showSubtract()">Subtract</button>
   <button type="button" (click)="showMultiply()">Multiply</button>
   <button type="button" (click)="showDivide()">Divide</button>

   <div>Total: {{resultDisplay}}</div>

</body>
</html>
