<h1>Angular Components</h1>

<a routerLink="displayhelloworld">Display Hello World</a>
<br>
<a routerLink="showhellobutton">Show Hello Button</a>
<br>
<a routerLink="displayname">Display Name</a>
<br>
<a routerLink="counter">Counter</a>
<br>
<a routerLink="simpleform">Simple Form</a>
<br>
<a routerLink="userage">User Age</a>
<br>
<a routerLink="usergreeting">User Greeting</a>
<br>
<a routerLink="calculator">Calculator</a>
<br>
<a routerLink="textlength">Text Length</a>
<br>
<a routerLink="currencyconverter">Currency Converter</a>
<br>
<a routerLink="evenoddchecker">Even Odd Checker</a>
<br>
<a routerLink="wordreverser">Word Reverser</a>
<br>
<a routerLink="showdate">Show Date</a>
<br>
<a routerLink="showusername">Show Username</a>
<br>
<a routerLink="multiplicationtable">Multiplication Table</a>
<br>
<a routerLink="simplelogin">Simple Login</a>
<br>
<a routerLink="fahrenheittocelsius">Fahrenheit To Celsius</a>
<br>
<a routerLink="bookmarklist">Bookmark List</a>
<br>
<a routerLink="charactercounter">Character Counter</a>
<br>
<a routerLink="palindromechecker">Palindrome Checker</a>
<br>
<a routerLink="temperatureconverter">Temperature Converter</a>
<br>
<a routerLink="shoppinglist">Shopping List</a>
<br>



<router-outlet></router-outlet>
