<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uppercase Greeting</title>
</head>
<body>
<div>
  <h2>Uppercase Greeting</h2>
  <label>Enter your name:</label><br>
  <input type="text" placeholder="Enter your name" [(ngModel)]="userName" />
  <button (click)="displayUppercaseName()">Show Uppercase Name</button><br><br>

  <p *ngIf="upperCaseName">Hello, {{ upperCaseName }}!</p>
</div>

</body>
</html>

