<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
</head>
<body>
<div>
  <h2>Login Form</h2>

  <label for="emailInput">Email:</label><br>
  <input type="email" id="emailInput" placeholder="Enter your email" [(ngModel)]="email" /> <br><br>
  <label for="passwordInput">Password:</label><br>
  <input type="password" id="passwordInput" placeholder="Enter your password" [(ngModel)]="password" /> <br><br>
  <button (click)="login()">Login</button><br>

  <p *ngIf="message">{{ message }}</p>
</div>




</body>
</html>



